# 1. LISTS

# Creating a List

In [23]:
# Creating List 
list1 = ['AI', 'Deep Learning', 1997, 2000]
list2 = [1, 2, 3, 4, 5 ]
list3 = ["a", "b", "c", "d"]
list4 = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']

In [24]:
print(list1)
print(list2)
print(list3)
print(list4)

['AI', 'Deep Learning', 1997, 2000]
[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd']
[10, [3.141, 20, [30, 'baz', 2.718]], 'foo']

# Accessing Values in Lists

In [53]:
list1 = [22.5 , 'Artificial Intelligence' ,'Python', 'Deep Learning', 1997, 2000];
print("list1[0]: ", list1[0])
print("list1[5]: ", list1[5])
print("list1[0:]: ", list1[0:])
print("list1[:]: ", list1[:])
print("list1[1:6]: ", list1[1:6])
print("list1[-6]: ", list1[-6])
print("list1[0:-5]: ", list1[0:-5])
print("list1[::]: ", list1[::])
print("list1[::-1]: ", list1[::-1])
print("list1[1:4:2]: ", list1[1:4:2])
print("list1[4::-2]: ", list1[4::-2])

list1[0]:  22.5
list1[5]:  2000
list1[0:]:  [22.5, 'Artificial Intelligence', 'Python', 'Deep Learning', 1997, 2000]
list1[:]:  [22.5, 'Artificial Intelligence', 'Python', 'Deep Learning', 1997, 2000]
list1[1:6]:  ['Artificial Intelligence', 'Python', 'Deep Learning', 1997, 2000]
list1[-6]:  22.5
list1[0:-5]:  [22.5]
list1[::]:  [22.5, 'Artificial Intelligence', 'Python', 'Deep Learning', 1997, 2000]
list1[::-1]:  [2000, 1997, 'Deep Learning', 'Python', 'Artificial Intelligence', 22.5]
list1[1:4:2]:  ['Artificial Intelligence', 'Deep Learning']
list1[4::-2]:  [1997, 'Python', 22.5]

In [54]:
x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']
x[1][2][1][2]

'z'

In [55]:
x[1][2][1:3]

['baz', 2.718]

# Adding new Values

In [56]:
#Example code for adding new values to lists
list1 = ['AI', 'Deep Learning', 1997, 2000]
print("list1 values: ", list1)
# Adding new value to list
list1.append("MACHINE LEARNING")
print("list1 values post append: ", list1)

list1 values:  ['AI', 'Deep Learning', 1997, 2000]
list1 values post append:  ['AI', 'Deep Learning', 1997, 2000, 'MACHINE LEARNING']

# Updating Existing Values

In [57]:
#Example code for updating existing values of lists
print("Values of list1: ", list1)
# Updating existing value of list
print("Index 2 value : ", list1[2])
list1[2] = 2020
print("Index 2's new value : ", list1[2])

Values of list1:  ['AI', 'Deep Learning', 1997, 2000, 'MACHINE LEARNING']
Index 2 value :  1997
Index 2's new value :  2020

# Deleting a List Element

In [58]:
#Example code for deleting a list element
print("list1 values: ", list1)
# Deleting list element
del list1[3]
print("After deleting value at index 2 : ", list1)

list1 values:  ['AI', 'Deep Learning', 2020, 2000, 'MACHINE LEARNING']
After deleting value at index 2 :  ['AI', 'Deep Learning', 2020, 'MACHINE LEARNING']

# Basic Operations - 1

In [59]:
# Basic Operations on List 
import math
import string
import operator
#Example code for basic operations on lists

print("Length: ", len(list1))

print("Concatenation: ", [1,2,3] + [4, 5, 6])

print("Repetition :", ['Hello'] * 4)

print("Membership :", 3 in [1,2,3])

print("Iteration :")
for x in [1,2,3]: 
    print(x)

Length:  4
Concatenation:  [1, 2, 3, 4, 5, 6]
Repetition : ['Hello', 'Hello', 'Hello', 'Hello']
Membership : True
Iteration :
1
2
3

# Basic Operations 2

In [60]:
list2 = ['PSYCHOLOGY','STATISTICS','MATHS','DOMAIN']
print("Max of list: ", max([1,2,3,4,5]))

print("Min of list: ", min([1,2,3,4,5]))

print("Count number of 1 in list: ", [1,1,2,3,4,5,].count(1))

list1.extend(list2)

print("Extended :", list1)

Max of list:  5
Min of list:  1
Count number of 1 in list:  2
Extended : ['AI', 'Deep Learning', 2020, 'MACHINE LEARNING', 'PSYCHOLOGY', 'STATISTICS', 'MATHS', 'DOMAIN']

# Basic Operations 3

In [61]:
print("pop last item in list: ", list1.pop())
print("List after POP",list1)
print("pop the item with index 2: ", list1.pop(2))
print("List after POP 2",list1)
list1.remove('MATHS')
print("removed b from list: ", list1)
list1.reverse()
print("Reverse: ", list1)
list1 = ['a','c','b']
list1.sort()
print("Sort ascending: ", list1)
list1.sort(reverse = True)
print("Sort descending: ", list1)

pop last item in list:  DOMAIN
List after POP ['AI', 'Deep Learning', 2020, 'MACHINE LEARNING', 'PSYCHOLOGY', 'STATISTICS', 'MATHS']
pop the item with index 2:  2020
List after POP 2 ['AI', 'Deep Learning', 'MACHINE LEARNING', 'PSYCHOLOGY', 'STATISTICS', 'MATHS']
removed b from list:  ['AI', 'Deep Learning', 'MACHINE LEARNING', 'PSYCHOLOGY', 'STATISTICS']
Reverse:  ['STATISTICS', 'PSYCHOLOGY', 'MACHINE LEARNING', 'Deep Learning', 'AI']
Sort ascending:  ['a', 'b', 'c']
Sort descending:  ['c', 'b', 'a']

In [62]:
a = [1, 2, 3, 4, 5]
print(a[2:2] )
a = [1, 2, 3, 4, 5]
a.remove(3)
print(a)
a = [1, 2, 3, 4, 5]
del a[2]
print(a)
a = [1, 2, 3, 4, 5]
print(a[2:3] )

[]
[1, 2, 4, 5]
[1, 2, 4, 5]
[3]

In [63]:
a = ['a', 'b', 'c']
a += ['d', 'e']
print(a)
a = ['a', 'b', 'c']
a[-1:] = ['d', 'e']
print(a)
a = ['a', 'b', 'c']
a[len(a):] = ['d', 'e']
print(a)
a = ['a', 'b', 'c']
a += 'de'
print(a)
a = ['a', 'b', 'c']
a.extend(['d', 'e'])
print(a)

['a', 'b', 'c', 'd', 'e']
['a', 'b', 'd', 'e']
['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']

In [64]:
a = [1, 2, 7, 8]
a = a[0:2] + [3,4,5,6] + a[2:]
print(a)
a = [1, 2, 7, 8]
a[2:2] = [3, 4, 5, 6]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

# Tuples

# Creating Tuples

In [65]:
# Example code for creating tuple
# Creating a tuple
Tuple = ()
print("Empty Tuple: ", Tuple)
Tuple = (1,)
print("Tuple with single item: ", Tuple)
Tuple = ('a','b','c','d',1,2,3)
print("Sample Tuple :", Tuple)

Empty Tuple:  ()
Tuple with single item:  (1,)
Sample Tuple : ('a', 'b', 'c', 'd', 1, 2, 3)

# Accessing elements of Tuples

In [66]:
#Example code for accessing tuple
# Accessing items in tuple
Tuple = ('a', 'b', 'c', 'd', 1, 2, 3)
print("3rd item of Tuple:", Tuple[2])
print("First 3 items of Tuple", Tuple[0:2])

3rd item of Tuple: c
First 3 items of Tuple ('a', 'b')

# Deleting Elements of Tuples

In [67]:
#Example code for deleting tuple
# Deleting tuple
print("Sample Tuple: ", Tuple)
del Tuple
print(Tuple) # Will throw an error message as the tuple does not exist

Sample Tuple:  ('a', 'b', 'c', 'd', 1, 2, 3)

NameError: name 'Tuple' is not defined

# Basic Tuple Operations -1

In [68]:
# Example code for basic operations on tupe (not exhaustive)
# Basic Tuple operations
Tuple = ('a','b','c','d',1,2,3)
print("Length of Tuple: ", len(Tuple))
Tuple_Concat = Tuple + (7,8,9)
print("Concatinated Tuple: ", Tuple_Concat)

print("Repetition: ", (1,'a',2, 'b') * 3)
print("Membership check: ", 3 in (1,2,3))

Length of Tuple:  7
Concatinated Tuple:  ('a', 'b', 'c', 'd', 1, 2, 3, 7, 8, 9)
Repetition:  (1, 'a', 2, 'b', 1, 'a', 2, 'b', 1, 'a', 2, 'b')
Membership check:  True

# Basic Tuple Operations -2

In [69]:
# Iteration
for x in (1, 2, 3): print(x)
print("Negative sign will retrieve item from right: ", Tuple_Concat[-2])
print("Sliced Tuple [2:] ", Tuple_Concat[2:])
# Find max
print("Max of the Tuple (1,2,3,4,5,6,7,8,9,10): ",
max((1,2,3,4,5,6,7,8,9,10)))
print("Min of the Tuple (1,2,3,4,5,6,7,8,9,10): ",
min((1,2,3,4,5,6,7,8,9,10)))
print("List [1,2,3,4] converted to tuple: ", type(tuple([1,2,3,4])))

1
2
3
Negative sign will retrieve item from right:  8
Sliced Tuple [2:]  ('c', 'd', 1, 2, 3, 7, 8, 9)
Max of the Tuple (1,2,3,4,5,6,7,8,9,10):  10
Min of the Tuple (1,2,3,4,5,6,7,8,9,10):  1
List [1,2,3,4] converted to tuple:  <class 'tuple'>

In [71]:
t = ('foo', 'bar', 'baz')
t[1:1] = 'qux'
print(t)
t = ('foo', 'bar', 'baz')
t[1] = 'qux'
print(t)

TypeError: 'tuple' object does not support item assignment

In [77]:
a, b, c = (1, 2, 3, 4, 5, 6, 7, 8, 9)[1::3]
print(a)
print(b)
print(c)

2
5
8

In [92]:
t= (1,2,3,4,5)
print(t[::-1])
x = 5
y = -5
x, y = (y, x)[::-1]
print(x)
print(y)

(5, 4, 3, 2, 1)
5
-5

# 3 Dictionaries

# Creating Dictionaries

In [93]:
# Example code for creating dictionary
# Creating dictionary
dict = {'Name': 'Jivin', 'Age': 6, 'Class': 'First'}
print("Sample dictionary: ", dict)

Sample dictionary:  {'Name': 'Jivin', 'Age': 6, 'Class': 'First'}

In [95]:
dict0 = {'Name': 'Jivin', 'Age': 6, 'Class': 'First'}
print("Sample dictionary: ", dict0)
k=1
for i in dict0:
    print(k,i,dict0[i])
    k=k+1

Sample dictionary:  {'Name': 'Jivin', 'Age': 6, 'Class': 'First'}
1 Name Jivin
2 Age 6
3 Class First

# Accessing Dictionary Element

In [94]:
# Example code for accessing dictionary
# Accessing items in dictionary
print("Value of key Name, from sample dictionary:", dict['Name'])

Value of key Name, from sample dictionary: Jivin

# Deleting Dictionary Elements

In [97]:
dict0 = {'Name': 'Jivin', 'Age': 6, 'Class': 'First'}
print("Sample dictionary: ", dict0)
del (dict0['Name']) # Delete specific item

print("Sample dictionary post deletion of item Name:", dict0)

dict0 = {'Name': 'Jivin', 'Age': 6, 'Class': 'First'}
dict0.clear() # Clear all the contents of dictionary
print("dict post dict.clear():", dict0)

dict = {'Name': 'Jivin', 'Age': 6, 'Class': 'First'}
del (dict0) # Delete the dictionary
print(dict0)

Sample dictionary:  {'Name': 'Jivin', 'Age': 6, 'Class': 'First'}
Sample dictionary post deletion of item Name: {'Age': 6, 'Class': 'First'}
dict post dict.clear(): {}

NameError: name 'dict0' is not defined

# Updating Dictionary Element

In [99]:
# Updating Dictionary Element
#Example code for updating dictionary
dict = {'Name': 'Jivin', 'Age': 6, 'Class': 'First'}
print("Sample dictionary: ", dict)
dict['Age'] = 6.5
print("Dictionary post age value update: ", dict)

Sample dictionary:  {'Name': 'Jivin', 'Age': 6, 'Class': 'First'}
Dictionary post age value update:  {'Name': 'Jivin', 'Age': 6.5, 'Class': 'First'}

# Basic Dictionary Operations -1

In [101]:
#Example code for basic operations on dictionary
# Basic operations
dict = {'Name': 'Jivin', 'Age': 6, 'Class': 'First'}
print("Length of dict: ", len(dict))

# Copy the dict
dict1 = dict.copy()
print("Copy:\n",dict1)

Length of dict:  3
Copy:
 {'Name': 'Jivin', 'Age': 6, 'Class': 'First'}

# Basic Dictionary Operations -2

In [102]:
# Retrieve value for a given key
print("Value for Age: ", dict.get('Age'))

# Return items of dictionary
print("dict items: ", dict.items())

# Return items of keys
print("dict keys: ", dict.keys())

# return values of dict
print("Value of dict: ", dict.values())

Value for Age:  6
dict items:  dict_items([('Name', 'Jivin'), ('Age', 6), ('Class', 'First')])
dict keys:  dict_keys(['Name', 'Age', 'Class'])
Value of dict:  dict_values(['Jivin', 6, 'First'])

#  Basic Dictionary Operations -3

In [103]:
# Concatenate dicts
dict1 = {'Name': 'Jivin', 'Age': 6}
dict2 = {'Sex': 'male' }
dict1.update(dict2)
print("dict1.update(dict2) = ", dict1)

dict1.update(dict2) =  {'Name': 'Jivin', 'Age': 6, 'Sex': 'male'}

In [115]:
d = {'foo': 100, 'bar': 200, 'baz': 300}
print(d)
d = {}
d['foo'] = 100
d['bar'] = 200
d['baz'] = 300
print(d)

{'foo': 100, 'bar': 200, 'baz': 300}
{'foo': 100, 'bar': 200, 'baz': 300}

In [116]:
d = {'foo': 100, 'bar': 200, 'baz': 300}
d['bar':'baz']

TypeError: unhashable type: 'slice'

In [117]:
x = [
    'a',
    'b',
    {
        'foo': 1,
        'bar':
        {
            'x' : 10,
            'y' : 20,
            'z' : 30
        },
        'baz': 3
    },
    'c',
    'd'
]
print(x)

['a', 'b', {'foo': 1, 'bar': {'x': 10, 'y': 20, 'z': 30}, 'baz': 3}, 'c', 'd']

In [118]:
x[2]['bar']['z']

30

In [120]:
'z' in x[2]['bar']

True

In [121]:
d = {'foo': 100, 'bar': 200, 'baz': 300}
d.pop('bar')
print(d)

{'foo': 100, 'baz': 300}

In [129]:
d1 = {'foo': 100, 'bar': 200, 'baz': 300}
d2 = {}
d2.update(d1)
print(d2)
d2 = d1
print(d2)

{'foo': 100, 'bar': 200, 'baz': 300}
{'foo': 100, 'bar': 200, 'baz': 300}